 <div id="footer">
        <div class="footer-content">
        <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p>&copy; Smartek Consultancy Services</p>
         </div>
    </div>
</div>
</body>
</html>
